<p>
  <strong>Name of Contest:</strong>
  <%= @contest.NameofContest %>
</p>

<p>
  <strong>Level Of Contest:</strong>
  <%= @contest.ContestLevel %>
</p>

<p>
  <strong>Location of Contest:</strong>
  <%= @contest.ContestLevel %>
</p>

<p>
  <strong>Number of Players</strong>
  <%= @contest.NumberOfPlayers %>
</p>
