
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title> Contest Platform - Home </title>
    <h1> Contest Platform - Home <h1>
      <h4> Welcome! <h4>
  </head>

  <body>
    <button type="button"> Create a Contest</button>
    <br>
    <p>
      Enter in pertinent contest data (location, date, divisions, competitors, judge IDs) to register a contest.
      Must be registered as a judge to do this.
    </p>
    <button type="button"> Register a Judge</button>
    <br>
    <p>
      Register yourself to apply for a judge. Name, email, and contest judging/competition experience all required upon submission.
    </p>
    <button type="button"> Login as a Judge</button>
    <p>
      Login yourself in order to view your past contest scores as well as see what upcoming competititons you are registered to judge.
    </p>
  </body>
